<div class="main">
	<div class="top">
		<div class="logo">
			<h1>Blogz</h1>
		</div>
		<div class="content">
			<ul>
				<li><a href="">DashBoard</a></li>
				<li><a href="">My Blogs</a></li>
				<li><a href="">Explore Blogs</a></li>
				<li><a href="">New</a></li>
			</ul>
		</div>
	</div>
	<div class="last">
	
		<img src="https://images.unsplash.com/photo-1644982647869-e1337f992828?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
		<p>Hello@hello.gmail.com
		</p>
	</div>		
</div>